{% extends 'base.html' %} {% load static %} {% block page_title %} Shay Fu {% endblock %} {% block content %}
<div class="postion-box">
    <div class="row">
        <div class="col-3">
            <div class="box"></div>
        </div>
        <div class="col-3">
            <div class="box"></div>
        </div>
        <div class="col-3">
            <div class="box"></div>
        </div>
        <div class="col-3">
            <div class="box"></div>
        </div>
        <hr>
    </div>
</div>


{% endblock %}